@media (min-width: 481px) and (max-width: 688px) {

    #home{display: block;}
    #login{display: block;}
    #celender{display: block;}
    #photo{display: block;}
    #property{display: block;}
    #summery{display: block;}

    /* common css media stylesheet start*/
    .container{
        width: 100%;
    }
    /* common css media stylesheet end*/

    /* header section */
    #home{
        padding: 0 10px;
    }
    ul li a,.icon-bar i{
        font-size: .9em;
        padding: 5px;
    }
    .icon-bar i{
        margin: 0;
        margin-left: 5px;
    }
    .nav-bar{
        width: 75%;
    }
    .icon-bar{
        width: 25%;
    }
    /* header section end */

    /* login form section start */
    .form-container{
        padding: 40px 0;
    }
    form h2{
        font-size: 2em;
    }
    button{
        margin-bottom: 0px;
    }
    
    /* login setion end */

    /* celender section start */
    .celender-title,.month-title{
        font-size: 1.4em;
    }
    .celender-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-calender{
        grid-gap: 10px;
    }
    .day,.date{
        padding: 10px;
        font-size: 1em;
    }
    /* celender section end */

    /* photo section start */
    .photo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .photo-box{
        width: 100%;
        margin-bottom: 10px;
    }
    .photo-box:nth-child(4),.photo-box:nth-child(5){
        display: none;
    }
    .photo-img img, .photo-dettal{
        height: 160px;
    }
    .photo-box:hover .photo-dettal{
        display: block;
        transform: scaleY(1);
    }
    .photo-dettal h3 {
        font-size: 1em;
        margin-bottom: 20px;
    }
    .photo-dettal p {
        text-align: left;
        line-height: 1.4;
        font-size: 1em;
    }
    /* photo section end */
   
    /* property section start */
    .text{
        padding: 16px;
    }
    .text p{
        font-size: 1em;
    }
    .text p a{
        font-size: 1em;
    }
    /* property section end */

    /* summery section start */
    footer h2{
        font-size: 1.2em;
        line-height: 2;
    }
    footer p{
        font-size: .8em;
    }
    /* summery section end */


}