@media (max-width: 688px) {

    #home{display: block;}
    #login{display: block;}
    #celender{display: block;}
    #photo{display: block;}
    #property{display: block;}
    #summery{display: block;}

    /* common css media stylesheet start*/
    .container{
        width: 100%;
    }
    /* common css media stylesheet end*/

    /* header section */
    .icon-bar i , .menu i{
        font-size: 1.6em;
        padding: 5px;
        margin-left: 10px;
    }
    .nav-bar ul.nav-items{
        display: none;
        transform: scaleY(0);
        transform-origin: top;
        transition: all 2s;
    }
    .nav-bar{
        width: 50%;
    }
    ul li{
        margin-top: 10px;
    }
    ul li a{
        font-size: 1em;
        padding: 5px;
        
    }
    ul li a:hover{
        background-color: black;
        color: aquamarine;
    }
    .icon-bar{
        width: 50%;
    }
    .menu{display: block;}
    .fa-times{
        display: none;
    }
    .menu:hover .fa-bars{
        display: none;
    }
    .menu:hover .fa-times{
        display: block;
    }
    .nav-bar:hover ul.nav-items{
        display: flex;
        flex-direction: column;
        transform: scaleY(1);
        transform-origin: top;
    }
    /* header section end */

    /* login form section start */
    .form-container{
        padding: 20px 0;
    }
    form h2{
        font-size: 1.6em;
    }
    button{
        margin-bottom: 0px;
        border-radius: 10px;
        font-size: 1em;
    }
    input{
        font-size: 1.2em;
    }
    
    /* login setion end */

    /* celender section start */
    .celender-title,.month-title{
        font-size: 1em;
    }
    .celender-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-calender{
        grid-gap: 4px;
    }
    .celender-container{
        padding: 0 10px;
    }
    .day,.date{
        padding: 5px;
        font-size: .7em;
    }
    /* celender section end */

    /* photo section start */
    .photo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .photo-box{
        width: 100%;
        margin-bottom: 0px;
    }
    .photo-img img, .photo-dettal{
        height: 120px;
    }
    .photo-box:hover .photo-dettal{
        display: block;
        transform: scaleY(1);
        overflow: hidden;
    }
    .photo-dettal h3 {
        font-size: .6em;
        margin-bottom: 8px;
    }
    .photo-dettal p {
        text-align: left;
        line-height: 1.2;
        font-size: .8em;
        padding: 0 5px;
    }
    /* photo section end */
   
    /* property section start */
    .text{
        padding: 5px;
    }
    .text p{
        font-size: .7em;
        
    }
    .text p a{
        font-size: .8em;
    }
    /* property section end */

    /* summery section start */
    footer h2{
        font-size: 1.2em;
        line-height: 2;
    }
    footer p{
        font-size: .8em;
    }
    /* summery section end */


}