@media (min-width: 993px) and (max-width: 1312px) {

    /* common css media stylesheet start*/
    .container{
        width: 90%;
    }
    /* common css media stylesheet end*/

    /* header section */
    ul li a,.icon-bar i{
        font-size: 1.2em;
        padding: 5px;
    }
    .nav-bar{
        width: 70%;
    }
    .icon-bar{
        width: 30%;
    }
    /* header section end */

    /* login form section start */
    .form-container{
        padding: 40px 0;
    }
    form h2{
        font-size: 2em;
    }
    button{
        margin-bottom: 0px;
    }
    
    /* login setion end */

    /* celender section start */
    .celender-title,.month-title{
        font-size: 1.4em;
    }
    .celender-container{
        display: flex;
        justify-content: space-around;
    }
    .main-calender{
        grid-gap: 8px;
    }
    .day,.date{
        padding: 10px 5px;
        font-size: 1em;
    }
    /* celender section end */

    /* photo section start */
    .photo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
    .photo-box{
        width: 100%;
        margin-bottom: 10px;
    }
    .photo-img img{
        height: 200px;
    }
    .photo-dettal{
        height: 200px;
    }
    .photo-box:hover .photo-dettal{
        display: block;
        transform: scaleY(1);
    }
    .photo-dettal h3 {
        font-size: 1em;
        margin-bottom: 20px;
    }
    .photo-dettal p {
        text-align: left;
        line-height: 1.35;
        font-size: 1em;
    }
    /* photo section end */
   
    /* property section start */
    .text{
        padding: 30px;
    }
    .text p{
        font-size: 1.4em;
    }
    /* property section end */

    /* summery section start */
    footer h2{
        font-size: 1.5em;
        line-height: 2;
    }
    footer p{
        font-size: 1em;
    }
    /* summery section end */


}